<!-- 新增任務成功畫面 -->
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>編輯任務結果</title>
  </head>
  <body>
    <h1>成功編輯資料</h1>
    <table>
      <tr>
        <td>任務ID</td>
        <td><%= putTask.id %></td>
      </tr>
      <tr>
        <td>任務名稱</td>
        <td><%= putTask.title %></td>
      </tr>
      <tr>
        <td>任務內容</td>
        <td><%= putTask.description %></td>
      </tr>
      <tr>
        <td>完成期限</td>
        <td><%= putTask.due_date %></td>
      </tr>
      <tr>
        <td>任務狀態</td>
        <td><%= putTask.status %></td>
      </tr>
    </table>
    <a href="/task">回到主畫面</a>
    <style>
      body {
        font-family: "Arial", sans-serif;
        max-width: 550px;
        margin: 30px auto;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        text-align: center;
        font-weight: bold;
      }

      table {
        border-collapse: collapse;
        width: 90%;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
      }

      tr {
        border-bottom: 1px solid #45a049;
      }

      h2 {
        color: #45a049;
      }

      table {
        background-color: #fff;
      }

      th,
      td {
        color: #45a049;
      }
    </style>
  </body>
</html>
